node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.local
.env.*.local
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# typescript
*.tsbuildinfo

/src/generated/prisma
.vercel
/tmp

# clerk configuration (can include secrets)
/.clerk/
